<h3>Subscriptions API</h3>

<div class="information-box">
	<p>This page explains how to use the fitgem library to connect to <a href="http://wiki.fitbit.com/display/API/Subscriptions-API">fitbit.com's subscriptions API</a>.</p>
</div>

<p>Fitbit allows applications to set up subscriptions on behalf of their logged-in users.  Once subscribed to a part or the whole data feed for a user, the application will then be notified via a POST from the fitbit servers any time that user logs new data on fitbit.  The notification will occur whether the user manually enters data (an activity, or food for example) or their tracker syncs with the service automatically.</p>
