<div class="page-header">
  <h1>Account Profile</h1>
</div>

<div class="row-fluid">
  <div class="span8 fitbit-data-view" id="fitbit-user-data">Loading...</div>
  <div class="span4">
    <div class="well">
      <h4>Cancel Account</h4>
      <p>Unhappy with this site? Click the button below to delete your fitbitclient.com
        account. This will also unlink the account from fitbit.com.</p>
      <%= link_to "Cancel Account", registration_path("user"), :class => 'btn btn-danger', :confirm => "Are you sure?", :method => :delete %>
    </div>
  </div>
</div>

<script type="text/javascript">$(document).ready(function(){FitgemClient.init({logged_in:<%= user_signed_in? %>,linked:<%= user_signed_in? && current_user.linked? %>});});</script>