<form class="form-horizontal live-data-form">
  <legend>Log Activity to Fitbit</legend>
  <div class="control-group">
    <label class="control-label" for="logActivityName">Activity</label>
    <div class="controls">
      <input type="text" id="logActivityName" value="Running" disabled />
      <span class="help-inline"><i class="icon-star"></i> To simplify the example, activity type is a default.</span>
      <input type="hidden" id="logActivityId" value="12050" />
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="logDuration">Duration</label>
    <div class="controls">
      <div class="input-append">
        <input class="span3" id="logDuration" type="text">
        <span class="add-on">minutes</span>
      </div>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="logDuration">Start Time</label>
    <div class="controls">
      <div class="input-append bootstrap-timepicker">
        <input id="logStartTime" type="text" class="span4">
        <span class="add-on"><i class="icon-time"></i></span>
      </div>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="logDuration">Date</label>
    <div class="controls">
      <div class="input-append">
        <input id="logDate" type="text" class="span6">
        <span class="add-on"><i class="icon-calendar"></i></span>
      </div>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="logDistance">Distance</label>
    <div class="controls">
      <div class="input-append">
        <input class="span3" id="logDistance" type="text">
        <span class="add-on">miles</span>
      </div>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="submit" id="log-activity-btn" class="btn btn-primary">Log Activity</button>
      <span id="log-activity-status"></span>
    </div>
  </div>
</form>