<div class="live-data-form">
  <div class="inline-activity-datepicker-form fetch-form">
    <div class="activity-date-picker">Activities for Date</div>
    <input type="text" class="datepicker input-small" />
    <button id="change-activity-date-btn" class="btn btn-success btn-small">Fetch Activities</button>
    <img id="activities-fetch-spinner" class="spinner" src="/assets/spinner.gif" style="visibility:hidden;" />
  </div>
  <table class="fetch-example">
    <tbody id="activities-results-container"></tbody>
  </table>
</div>
{{> common/_live_data_footer }}
