<div class="alert alert-error">
  <h4 class="alert-heading">Connection Error</h4>
  We're having trouble grabbing Fitbit API data from the server; please check to ensure that you have a working
  internet connection.
</div>