body {
  background-color: #4B7399;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
  color: #444444; }

a img {
  border: none; }

a {
  color: #0000FF; }

.clear {
  clear: both;
  height: 0;
  overflow: hidden; }

#container {
  width: 75%;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px; }

#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0; }

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6; }

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66; }

.fieldWithErrors {
  display: inline; }

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px; }

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff; }

.error_messages p {
  margin: 8px 10px; }

.error_messages ul {
  margin: 0; }

div#header {
  border-bottom: 1px solid #333333; }
  div#header #login-nav {
    float: right; }
  div#header h1 {
    clear: right;
    padding-top: 5px; }
    div#header h1 a {
      color: #444444;
      text-decoration: none; }
    div#header h1 a:hover {
      color: #444444; }
    div#header h1 a:visited {
      color: #444444;
      text-decoration: none; }

div#sidebar {
  float: right;
  width: 220px; }
  div#sidebar .box {
    padding: 10px 0; }
    div#sidebar .box p {
      margin: 5px 0;
      padding: 5px 0;
      font-size: 10pt; }
    div#sidebar .box h3 {
      margin: 5px 0; }

div#content {
  margin-right: 260px; }

div#footer {
  clear: right;
  font-size: 9pt;
  border-top: 1px solid #333;
  padding: 15px 0 0 0;
  color: #888888; }

div#fitbit-user-info-container {
  padding: 10px 0; }
  div#fitbit-user-info-container #fitbit-user-info {
    width: 350px;
    height: 212px;
    border: 1px solid #333333; }
    div#fitbit-user-info-container #fitbit-user-info .line-title {
      font-weight: bold;
      padding: 5px 10px; }
    div#fitbit-user-info-container #fitbit-user-info .line-item {
      margin: 5px 0; }
      div#fitbit-user-info-container #fitbit-user-info .line-item .label {
        text-align: right;
        padding: 2px 5px;
        float: left;
        width: 110px; }
      div#fitbit-user-info-container #fitbit-user-info .line-item .value {
        background: none repeat scroll 0 0 #EEEEEE;
        margin: 0 15px 0 119px;
        padding: 3px 5px;
        text-align: left; }
