<h3>Resource Access API</h3>

<div class="information-box">
	<p>This page explains how to use the fitgem library to connect to <a href="http://wiki.fitbit.com/display/API/Resource-Access-API">fitbit.com's resource access API</a>.</p>
</div>

<p>Fitbit considers a 'resource' to be any of the nouns associated with health tracking. Examples include foods consumed, activities participated in, characteristics of your tracker device, and body measurements.</p>

<h4>Available Resources</h4>
<p>Each resource below will include sample code on how to access it using fitgem. I will generally defer to the Fitbit Developer site for complete API documentation as I don't wish this site to get out of date too quickly.  Instead I'll focus on just the mechanics of using the library to interface with the API.</p>
<p>If you are logged into the site and have connected your login with a Fitbit account, then in each section you'll also see the relevant data retrieved using the API described there.</p>
<ul class="toc">
	<li><a href="#userinfo">User Information</a></li>
	<li><a href="#body">Body Measurements</a></li>
	<li><a href="#activities">Activities</a></li>
	<li><a href="#foods">Foods</a></li>
</ul>

<h4><a name="userinfo">User Information</a></h4>
<div class="information-box">
	<p><a href="http://wiki.fitbit.com/display/API/API-Get-User-Info">View the Fitbit reference page for user information.</a></p>
</div>
<p>The user information interface is used to access whatever profile information that the user has allowed to be viewed publicly.  This includes information such as the user's name, fitbit user id, gender, height, etc.  <strong>Please note</strong> that the user must explicitly allow this info to be shared or else it will not show up in the data returned by the service.</p>

<h5>Getting Access to User Information</h5>
<p>In your controller action, for example:</p>
<pre>
def index
  unless current_user.fitbit_account.verified?
    flash[:alert] = "Your test account is not connected to a Fitbit account."
    redirect_to :action => :index and return
  end
  client = FitgemClientWrapper.new(current_user.fitbit_account)
  @info = client.user_info['user']
end
</pre>

<h4><a name="body">Body Measurements</a></h4>

<h4><a name="activities">Activities</a></h4>

<h4><a name="foods">Foods</a></h4>