<h1>Getting Started with fitgem</h1>

<p>If you're using Bundler with Rails 2.3 or higher you may include fitgem in your Gemfile...</p>

<h6>Gemfile</h6>
<pre>gem 'fitgem'</pre>

<p>...and then <code>bundle install</code></p>

<p>Or to play around with fitgem you'll just need the <a href="http://rubygems.org/gems/fitgem">gem itself</a>:</p>

<pre>$ gem install fitgem</pre>

<p>You can also grab the source by cloning <a href="https://github.com/whazzmaster/fitgem">the fitgem github repo</a>.</p>

<pre>$ git clone git@github.com:whazzmaster/fitgem.git</pre>

<h1>Using fitgem</h1>
<p>The structure and usage of the fitgem library mirror closely the oauth flow of the <a href="https://github.com/moomerman/twitter_oauth">twitter_oauth gem</a>.  You can use the fitgem gem to get access to the Fitbit REST API from any sort of application, but if you're going to use it in a Rails application then you will need to integrate the OAuth implementation with your own user management setup.</p>

<p>What follows is a description of <strong>one way to accomplish this</strong>.  You can integrate the <code>FitgemClient</code> class in many ways.</p>

<h2>Fitbit Account</h2>
<p>The <code>FitbitAccount</code> class [<a href="https://github.com/whazzmaster/fitgem-client/blob/master/app/models/fitbit_account.rb">source</a>] encapsulates an authorized fitbit account and allows it to be attached to the User class of the application.  It exposes the important <code>verified?</code> method which allows the application to easily check whether a user (particularly the current_user) has gone through the OAuth process all the way.</a>

<h2>Fitgem Client Wrapper</h2>

<p>For this reference application you'll see the <code>FitgemClientWrapper</code> class [<a href="https://github.com/whazzmaster/fitgem-client/blob/master/lib/fitbit_client_wrapper.rb">source</a>] many times in the example code.  It is this wrapper that marries a logged-in user (presumably with a stored oauth session key) to an instance of the FitgemClient class [<a href="https://github.com/whazzmaster/fitgem/blob/master/lib/fitgem/client.rb">source</a>] defined in the gem.</p>

<p>The <code>FitgemClientWrapper</code> takes a <code>FitbitAccoount</code> object and uses the stored keys in it to instantiate the <code>Fitgem::Client</code> class in a state in which API calls may immediately be made.</p>

