.page-header
  %h1 About the Site

%p
  This is a live version of a test client for the
  %a{:href => "http://www.fitbit.com"} Fitbit service.
  It uses the
  %a{:href =>"http://rubygems.org/gems/fitgem"} fitgem
  to connect to the Fitbit OAuth API for data access, and contains a variety of examples focused on how
  to access the different types of data exposed by Fitbit.

%h3 Technology

%table.table-striped.table-bordered
  %thead
    %tr
      %th{:style => "width:20%;"} Site Aspect
      %th Technology Used
  %tbody
    %tr
      %td Language
      %td
        %a{:href => "http://rubylang.org"} Ruby 1.9.3
    %tr
      %td Server Framework
      %td
        %a{:href => "http://rubyonrails.org"} Rails 3.2
    %tr
      %td Database
      %td
        %a{:href => "http://www.postgresql.org/"} Postgres
    %tr
      %td Design/UI Framework
      %td
        %a{:href => "http://twitter.github.com/bootstrap/"} Twitter Bootstrap
    %tr
      %td Javascript MVC Framework
      %td
        %a{:href => "http://documentcloud.github.com/backbone/"} Backbone.js
    %tr
      %td Javascript Templating
      %td
        %a{:href => "http://handlebarsjs.com/"} Handlebars.js
    %tr
      %td Authentication
      %td
        %a{:href => "https://github.com/plataformatec/devise"} Devise
    %tr
      %td Hosting
      %td
        %a{:href => "http://www.heroku.com"} Heroku
    %tr
      %td Supporting Gems
      %td
        %dl
          %dt
            %a{:href => "https://rubygems.org/gems/visual-environments/versions/0.3.3"} visual-environments
          %dd
            The visual-environments gem dynamically inserts a configurable string into your app's title tag in non-production
            environments to easily show which browser tabs show dev versus test or production environments.
          %dt
            %a{:href => "https://github.com/ryanb/nifty-generators"} nifty-generators
          %dd
            Used mainly to easily generate a per-environment APP_CONFIG to store analytics keys, Fitbit API keys, etc.
          %dt
            %a{:href => "https://github.com/meleyal/backbone-on-rails"} backbone-on-rails
          %dd
            A nice gem used to bootstrap a Backbone.js framework in a Rails application.  Also packages the requisite Backbone
            for automatic inclusion in Rails' Asset Pipeline.
          %dt
            %a{:href => "http://haml-lang.com/"} haml
          %dd
            Used on non content-heavy to simplify the markup.  Due to the nature of the guide, however, there are still a few
            erb templates in the application.
          %dt
            %a{:href => "https://github.com/nesquena/rabl"} rabl
          %dd
            Used to create the JSON responses from the /api controllers called by the Backbone models.
          %dt
            %a{:href => "https://rubygems.org/gems/google-code-prettify-rails"} google-code-prettify-rails
          %dd
            Used to do syntax highlighting and line-numbering for the &lt;pre&gt; code blocks.  Using the gem required me to
            = link_to "<i class='icon-search'></i> patch the CSS".html_safe, "https://github.com/whazzmaster/fitgem-client/blob/master/app/assets/stylesheets/custom.css.scss#L1-6"
            in order to get the line numbers to show up correctly.
          %dt
            %a{:href => "https://github.com/ccocchi/sass-twitter-bootstrap-rails"} sass-twitter-bootstrap-rails
          %dd
            Great gem that drops the whole Twitter Bootstrap CSS + JS framework into Rails' Asset Pipeline.  I only found one issue
            that needed to be patched: the Javascript support files must be listed in
            = link_to "<i class='icon-search'></i> a particular order".html_safe, "https://github.com/whazzmaster/fitgem-client/blob/master/app/assets/javascripts/application.js#L12-23"
            in application.js due to dependencies between them that are broken when the asset pipeline includes in alphabetical order.
          %dt
            %a{:href => "https://github.com/leshill/handlebars_assets"} handlebars_assets
          %dd
            Used to automate the inclusion of handlebars.js via Rails' Asset Pipeline

%p If you have a Fitbit account, you can walkthrough the server-side steps on how to authenticate a user with Fitbit and then get data.  It also currently includes a test interface to experiment with how data subscriptions work since the documentation on the process is a little light on the Fitbit developer site.