.page-header
  %h1 About the Site

%p
  This is a live version of a test client for the
  %a{:href => "http://www.fitbit.com"} Fitbit service.
  It uses the
  %a{:href =>"http://rubygems.org/gems/fitgem"} fitgem
  to connect to the Fitbit OAuth API for data access, and contains a variety of examples focused on how
  to access the different types of data exposed by Fitbit.

%h3 Technology

%table.table.table-striped.table-bordered
  %thead
    %tr
      %th{:style => "width:30%;"} Site Aspect
      %th Technology Used
  %tbody
    %tr
      %td Language
      %td
        %a{:href => "http://rubylang.org"} Ruby 2.1.0
    %tr
      %td Server Framework
      %td
        %a{:href => "http://rubyonrails.org"} Rails 4.2.x
    %tr
      %td Database
      %td
        %a{:href => "http://www.postgresql.org/"} PostgreSQL
    %tr
      %td Design/UI Framework
      %td
        %a{:href => "http://foundation.zurb.com/"} Zurb Foundation
    %tr
      %td Javascript MVC Framework
      %td
        %a{:href => "http://documentcloud.github.com/backbone/"} Backbone.js
    %tr
      %td Javascript Templating
      %td
        %a{:href => "http://handlebarsjs.com/"} Handlebars.js
    %tr
      %td Authentication
      %td
        %a{:href => "https://github.com/plataformatec/devise"} Devise
        and
        %a{:href => "https://github.com/intridea/omniauth"} OmniAuth
    %tr
      %td Hosting
      %td
        %a{:href => "http://www.heroku.com"} Heroku
    %tr
      %td{style: 'vertical-align:top;'} Supporting Gems
      %td
        %dl
          %dt
            %a{:href => "https://rubygems.org/gems/visual-environments/versions/0.3.3"} visual-environments
          %dd
            The visual-environments gem dynamically inserts a configurable string into your app's title tag in non-production
            environments to easily show which browser tabs show dev versus test or production environments.
          %dt
            %a{:href => "https://github.com/meleyal/backbone-on-rails"} backbone-on-rails
          %dd
            A nice gem used to bootstrap a Backbone.js framework in a Rails application.  Also packages the requisite Backbone
            for automatic inclusion in Rails' Asset Pipeline.
          %dt
            %a{:href => "http://haml-lang.com/"} haml
          %dd
            Used on non content-heavy to simplify the markup.  Due to the nature of the guide, however, there are still a few
            erb templates in the application.
          %dt
            %a{:href => "https://github.com/nesquena/rabl"} rabl
          %dd
            Used to create the JSON responses from the /api controllers called by the Backbone models.
          %dt
            %a{:href => "https://highlightjs.org/"} highlight.js
          %dd
            Used to do syntax highlighting for the &lt;pre&gt; code blocks.
          %dt
            %a{:href => "https://github.com/plataformatec/simple_form"} simple_form
          %dd
            Alternate form builder that nicely plays with Twitter Bootstrap form requirements.
          %dt
            %a{:href => "https://github.com/leshill/handlebars_assets"} handlebars_assets
          %dd
            Used to automate the inclusion of handlebars.js via Rails' Asset Pipeline
          %dt
            %a{:href => "https://github.com/tkgospodinov/omniauth-fitbit"} omniauth-fitbit
          %dd
            Easy integration of Fitbit OAuth login process with Devise authentication
          %dt
            %a{:href => "http://momentjs.com/"} moment.js
          %dd
            Super-easy date formatting for Javascript Date objects

%p If you have a Fitbit account, you can walkthrough the server-side steps on how to authenticate a user with Fitbit and then get data.  It also currently includes a test interface to experiment with how data subscriptions work since the documentation on the process is a little light on the Fitbit developer site.
