%header
  %h1 About the Site

%p
  This is a live version of a test client for the
  %a{:href => "http://www.fitbit.com"} Fitbit service.
  It uses the
  %a{:href =>"http://rubygems.org/gems/fitgem"} fitgem
  to connect to the Fitbit OAuth API for data access, and contains a variety of examples focused on how
  to access the different types of data exposed by Fitbit.

%h3 Technology

%table.table-striped.table-bordered
  %thead
    %tr
      %th Site Aspect
      %th Technology Used
  %tbody
    %tr
      %td Language
      %td
        %a{:href => "http://rubylang.org"} Ruby
    %tr
      %td Server Framework
      %td
        %a{:href => "http://rubyonrails.org"} Rails 3.2
    %tr
      %td Hosting
      %td
        %a{:href => "http://www.heroku.com"} Heroku

%p If you have a Fitbit account, you can walkthrough the server-side steps on how to authenticate a user with Fitbit and then get data.  It also currently includes a test interface to experiment with how data subscriptions work since the documentation on the process is a little light on the Fitbit developer site.

%h1 About the Author

%p
  I'm Zachery Moneypenny, and I wrote the
  %a{:href => "http://rubygems.org/gems/fitgem"} fitgem library.
  I'm a software engineer at
  %a{:href => "http://www.intuit.com"} Intuit
  working on
  %a{:href => "http://www.payroll.com"} QuickBooks Payroll.

%ul
  %li <a href="http://twitter.com/whazzmaster">@whazzmaster</a> on Twitter
  %li <a href="http://github.com/whazzmaster">whazzmaster</a> on Github
  %li <a href="http://whazzing.com">whazzing.com</a> on the Interwebs
