<div id="blog">

  <section>
    <aside>August 1st, 2011</aside>
    <h4>New Foods Examples</h4>
    <p>I've updated the <%= link_to 'Resources', examples_resources_path %> page with new examples around the Foods abstraction.  Check it out to learn about searching for foods, retrieving a user's foods, logging a user's foods, creating new foods, and deleting user's logged foods.</p>
  </section>

  <section>
    <aside>July 18th, 2011</aside>
    <h4>A New Look, A New Blog</h4>
    <p>Today I pushed a new look of this site live to the web.  It includes three main features:</p>
    <ol>
      <li>New visual look and feel</li>
      <li><%= link_to 'New examples', examples_resources_path %> for the fitbit.com resources API</li>
      <li>Integration with the fitbit API that will show you your own health data in the examples, if you have <%= link_to 'authorized this application', fitbit_index_path %>.</li>
    </ol>
    <p>The purpose of this site is both to illustrate to developers how to use <strong>fitgem</strong> in the context of a Rails application, and also to provide a 'real world' application so I can test out the fitgem interfaces to ensure they're sufficiently usable.</p>
    <p>I'm continually working on adding new examples on how to use the various interfaces exposed from the gem.  I will be pushing them live and noting on this blog the updates as I finish them.</p>
    <p>I'm always looking for feedback on this stuff.  For suggestions/bug reports on this web site, <a href="https://github.com/whazzmaster/fitgem-client/issues">please enter issues on the fitgem-client repository</a>.  For suggestions or bug reports on fitgem itself, <a href="https://github.com/whazzmaster/fitgem/issues">please enter issues at the gem repository</a>.</p>
  </section>

</div>