<p><strong>Fitbitclient.com</strong> is a reference application that explains how to use the
	<a href="http://rubygems.org/gems/fitgem">fitgem rubygem</a>
	in a <a href="http://rubyonrails.org">Ruby on Rails</a> application to access health data from <a href="http://www.fitbit.com">fitbit.com</a>.</p>

<div class="multiline-alert-box">
	<p>The fitgem library is fairly up-to-date and complete with regards to the supported Fitbit API, but building out the documentation and examples takes longer.  I've pushed this version live but it will continue to be updated as I add more examples and explanations.</p>
</div>

<h3>Getting Started with fitgem</h3>
<p>To play around with the fitgem library you'll need the <a href="http://rubygems.org/gems/fitgem">gem itself</a>:</p>
<pre>
<span>$ gem install fitgem</span>
</pre>
<p>You can also grab the source by cloning <a href="https://github.com/whazzmaster/fitgem">the fitgem github repo</a>.</p>
<pre>
<span>$ git clone git@github.com:whazzmaster/fitgem.git</span>
</pre>

<h3>Examples</h3>
<p>Browse through the <%= link_to 'examples', examples_path %> to see code on how to use the fitgem library to get/set data through the Fitbit API.  <strong>Optionally</strong>, you may also create an account on this site and connect it to your Fitbit account so that on the example pages you can see the actual data coming through from the API (if applicable).
</p>


