.well
  %h1 Unlink Fitbit.com Account
  %p Are you sure you want to unlink your Fitbitclient.com Account from your Fitbit.com Account?
  = button_to "Yes, Unlink My Accounts", fitbit_disconnect_path, :class => 'btn btn-danger btn-large'