// The /imports/design.less file is designated for variables and repeatable objects within the .LESS code
// ------------------------------------------------------------------------------------------------------

// UI elements included in this document
// ----------------------------------------------
// 1) $not_set objects
// 2) OOCSS gray color blocks
// 3) OOCSS generic color blocks
// 4) OOCSS gradient color mixins
// 5) Semantic gradient ojects
// 6) general UI mixins
// 7) axle's semantic combinations
// 8) OOCSS color blocks
// 9) table ui

// Items not set to a color will appear LIME when rendered
// ----------------------------------------------
$not_set: #00FF00;

@mixin not_set_gradient() {
	@include two_stop_linear_gradient($not_set, $not_set);
}

/////// OOCSS gray color blocks ////////
// ----------------------------------------------
$alpha_grey: #252525;
$bravo_grey: lighten($alpha_grey, 10%);
$charlie_grey: lighten($alpha_grey, 20%);
$delta_grey: lighten($alpha_grey, 30%);
$echo_grey: lighten($alpha_grey, 40%);
$fox_grey: lighten($alpha_grey, 50%);
$golf_grey: lighten($alpha_grey, 70%);
$hotel_grey: lighten($alpha_grey, 80%);
$india_grey: lighten($alpha_grey, 100%);
$juliet_grey: $not_set;
$kilo_grey: $not_set;
/////// OOCSS gray color blocks ////////

$white: #FFFFFF;

/////// OOCSS generic color blocks ////////
// ----------------------------------------------
$alpha_primary: #E84137;
$bravo_primary: #5BA418;
$charlie_primary: #FADC03;
$delta_primary: #4878CC;
$echo_primary: #FF8609;
/*
$alpha_primary: #BCBCBC;
$bravo_primary: #3299BB;
$charlie_primary: #424242;
$delta_primary: #E9E9E9;
$echo_primary: #FF9900;
*/
$alpha_color: $alpha_primary;
$bravo_color: lighten($alpha_primary, 10%);
$charlie_color: lighten($alpha_primary, 30%);
$delta_color: lighten($alpha_primary, 40%);

$echo_color: $bravo_primary;
$fox_color: lighten($bravo_primary, 10%);
$golf_color: lighten($bravo_primary, 30%);
$hotel_color: lighten($bravo_primary, 40%);

$india_color: $charlie_primary;
$juliet_color: lighten($charlie_primary, 10%);
$kilo_color: lighten($charlie_primary, 30%);
$lima_color: lighten($charlie_primary, 40%);

$mike_color: $delta_primary;
$november_color: lighten($delta_primary, 10%);
$october_color: lighten($delta_primary, 30%);
$papa_color: lighten($delta_primary, 40%);

$quebec_color: $echo_primary;
$romeo_color: lighten($echo_primary, 10%);
$sierra_color: lighten($echo_primary, 30%);
$tango_color: lighten($echo_primary, 40%);
/////// color blocks ////////




/////// OOCSS gradient color mixins ////////
// ----------------------------------------------
@mixin alpha_color_gradient {
	@include two_stop_linear_gradient(saturate($hotel_color, 10%), $echo_color);
}
.alpha_color_gradient { @include alpha_color_gradient }

@mixin bravo_color_gradient {
	@include two_stop_linear_gradient($echo_color, $hotel_color);
}
.bravo_color_gradient { @include bravo_color_gradient }

@mixin charlie_color_gradient {
	@include two_stop_linear_gradient($sierra_color, $quebec_color);
}
.charlie_color_gradient { @include charlie_color_gradient }

@mixin delta_color_gradient {
	@include two_stop_linear_gradient($quebec_color, $sierra_color);
}
.delta_color_gradient { @include delta_color_gradient }

@mixin echo_color_gradient {
	@include two_stop_linear_gradient($hotel_grey, $fox_grey);
}
.echo_color_gradient { @include echo_color_gradient }

@mixin fox_color_gradient {
	@include two_stop_linear_gradient($fox_grey, $hotel_grey);
}
.fox_color_gradient { @include fox_color_gradient }

@mixin golf_color_gradient {
	@include two_stop_linear_gradient($alpha_grey, $delta_grey);
}
.golf_color_gradient { @include golf_color_gradient }

@mixin hotel_color_gradient {
	@include three_stop_linear_gradient($white, 0%, lighten($hotel_grey, 30%), 60%, $hotel_grey, 95%);
}
.hotel_color_gradient { @include hotel_color_gradient }

@mixin india_color_gradient {
	@include three_stop_linear_gradient($hotel_grey, 5%, lighten($hotel_grey, 70%), 60%, $white, 0%);
}
.india_color_gradient { @include india_color_gradient }

@mixin juliet_color_gradient {
	@include two_stop_linear_gradient($not_set, $not_set);
}
.juliet_color_gradient { @include juliet_color_gradient }
	
@mixin kilo_color_gradient {
	@include two_stop_linear_gradient($not_set, $not_set);
}
.kilo_color_gradient { @include kilo_color_gradient }

@mixin lima_color_gradient {
	@include two_stop_linear_gradient($not_set, $not_set);
}
.lima_color_gradient { @include lima_color_gradient }

@mixin mike_color_gradient {
	@include two_stop_linear_gradient($not_set, $not_set);
}
.mike_color_gradient { @include mike_color_gradient }
/////// OOCSS gradient color mixins ////////

/////// Semantic gradient objects /////// 
// ----------------------------------------------

@mixin site_navigation_gradient() {
	@include fox_color_gradient;
}

@mixin body_navbar_gradient() {
	@include hotel_color_gradient;
}

@mixin body_navbar_gradient_hover() {
	@include india_color_gradient;
}

/////// Semantic gradient objects /////// 


///////// general UI mixins	///////// 
// ----------------------------------------------

@mixin ajax_spinner_sml() {
	background: url("/images/ajax-loader_sml.gif") no-repeat 50% 50% trasnparent;
	height: 16px;
	line-height: 16px !important;
}

@mixin ajax_spinner_lg() {
	background: url("/images/ajax-loader.gif") no-repeat 50% 50% transparent !important;
	line-height: 32px !important;
}

@mixin spinner_sml() {
	@include ajax_spinner_sml;
}	

@mixin spinner_lg() {
	@include ajax_spinner_lg;
}

@mixin soft_shadow() {
	@include box_shadow(0 5px 15px -8px, $shadow_color);
}

// This mixin is used for a linear layout of LIs versus using floats
// ----------------------------------
@mixin ul_flexbox ($width: 100%, $height: auto, $text_align :center) {
	ul { 
		@include flexbox (horizontal, center, center, $width, $height);
	}
	li {
		@include flex(1);
		text-align: $text_align;
		height: $height;
		line-height: $height;
	}
}
///////// general UI mixins	/////////


/////// axle's semantic combinations ////////
// ----------------------------------------------

// abstract 'white' value to easily applied to semantic class objects
$white: $india_grey;

// default shadow colors
$shadow_color: fadeout($alpha_grey, 50%);

// primary font color for the app
$primary_text: $bravo_grey;

// header text
$header_text: $quebec_color;

// main background color
$main-background-color: $fox_grey;

// default <a href="#"> link color
$href_color: darken($mike_color, 10%);

// used with the <ins> tag
$ins_color: $india_color;

// used with the <mark> tag
$mark_color: $india_color;

// webkit tap highlight color
$webkit_tap_hightlight: $quebec_color;

// overrides the default content selection color in the browser
$selection_color: $quebec_color;
$selection_text_color: $white;

// form colors
$instructional_text: $charlie_grey;
$error_text: $alpha_color;

$form_field_focus_border_color: darken($quebec_color, 10%);
$form_field_focus_color: lighten($quebec_color, 45%);
$form_field_background_color: $white;
$form_field_border: $delta_grey;
$form_field_text: $delta_grey;
$form_field_fail: $alpha_color;
$form_field_text_fail: $form_field_fail;
$form_field_border_fail: $form_field_fail;
$form_field_fail_bkg: lighten($alpha_color, 35%); 

$input_disabled: $bravo_grey;
$input_disabled_bkg: fadeout($input_disabled, 80%);
$input_disabled_border: $input_disabled;
$input_disabled_text: fadeout($input_disabled, 50%);

// colors for buttons
$button_text: $white;
/////// axle's semantic combinations ////////


/////// OOCSS color blocks ////////
// ----------------------------------------------

@mixin white {
	background-color: $white;
	@include inset_border;
}
.white { @include white }

@mixin alpha_grey {
	background-color: $alpha_grey;
}
.alpha_grey { @include alpha_grey }

@mixin bravo_grey {
	background-color: $bravo_grey;
}
.bravo_grey { @include bravo_grey }
	
@mixin charlie_grey {
	background-color: $charlie_grey;
}
.charlie_grey { @include charlie_grey }
	
@mixin delta_grey {
	background-color: $delta_grey;
}
.delta_grey { @include delta_grey; }
	
@mixin echo_grey {
	background-color: $echo_grey;
}
.echo_grey { @include echo_grey }
	
@mixin fox_grey {
	background-color: $fox_grey;
}
.fox_grey { @include fox_grey }
	
@mixin golf_grey {
	background-color: $golf_grey;
}	
.golf_grey { @include golf_grey }

@mixin hotel_grey {
	background-color: $hotel_grey;
}
.hotel_grey { @include hotel_grey }

@mixin india_grey {
	background-color: $india_grey;
}
.india_grey { @include india_grey }

@mixin juliet_grey {
	background-color: $juliet_grey;
}
.juliet_grey { @include juliet_grey }

@mixin kilo_grey {
	background-color: $kilo_grey;
}
.kilo_grey { @include kilo_grey }


@mixin alpha_color {
	background-color: $alpha_color;
}
.alpha_color { @include alpha_color }

@mixin bravo_color {
	background-color: $bravo_color;
}
.bravo_color { @include bravo_color }

@mixin charlie_color {
	background-color: $charlie_color;
}
.charlie_color { @include charlie_color }
	
@mixin delta_color {
	background-color: $delta_color;
}
.delta_color { @include delta_color }

@mixin echo_color {
	background-color: $echo_color;
}
.echo_color { @include echo_color }
	
@mixin fox_color {
	background-color: $fox_color;
}
.fox_color { @include fox_color }
	
@mixin golf_color {
	background-color: $golf_color;
}
.golf_color { @include golf_color }
	
@mixin hotel_color {
	background-color: $hotel_color;
}
.hotel_color { @include hotel_color }

@mixin india_color {
	background-color: $india_color;
}
.india_color { @include india_color }

@mixin juliet_color {
	background-color: $juliet_color;
}
.juliet_color { @include juliet_color }

@mixin kilo_color {
	background-color: $kilo_color;
}
.kilo_color { @include kilo_color }

@mixin lima_color {
	background-color: $lima_color;
}
.lima_color { @include lima_color }

@mixin mike_color {
	background-color: $mike_color;
}
.mike_color { @include mike_color }

@mixin november_color {
	background-color: $november_color;
}
.november_color { @include november_color }

@mixin october_color {
	background-color: $october_color;
}
.october_color { @include october_color }

@mixin papa_color {
	background-color: $papa_color;
}
.papa_color { @include papa_color }

@mixin quebec_color {
	background-color: $quebec_color;
}
.quebec_color { @include quebec_color }

@mixin romeo_color {
	background-color: $romeo_color;
}
.romeo_color { @include romeo_color }

@mixin sierra_color {
	background-color: $sierra_color;
}
.sierra_color { @include sierra_color }

@mixin tango_color {
	background-color: $tango_color;
}
.tango_color { @include tango_color }

/////// OOCSS color blocks ////////

///////////// table ui /////////////
// ----------------------------------------------

table {
	width: 100%;
	border: 1px solid $golf_grey;
	border-width: 1px 1px 0;
	margin-bottom: 10px;
	thead {
		text-align: left;
		background-color: $echo_grey;
		color: $india_grey;
		line-height: 38px;
	}
	th, td {
		padding: 0 10px;
	}
	td {
		padding: 10px;
		line-height: 1.5em;
	}
	tbody {
		tr {
			line-height: 30px;
			border-bottom: 1px solid $golf_grey;
			&:hover {
				background-color: $hotel_grey;
			}
		}
	}
}

///////////// table ui /////////////
