// Intent of this document is to contain all the mixin awesome that can be fed up to the /less/forms.less file

// UI elements included in this document
// ----------------------------------------------
// 1) Semantic button mixins
// 2) Buttons design - primary, secondary, and small mixins
// 3) OOCSS form mixins
// 4) Alert icon mixins


/////// Semantic button styles ///////////
// ----------------------------------------------
@mixin primary_button_color() {
	@include alpha_color_gradient;
}

@mixin primary_button_hover {
	@include bravo_color_gradient;
}

@mixin primary_button_active() {
	@include bravo_color_gradient;
}


// in this theme, primary and secondary disabled buttons are the same
// but axle can support having independent designs for each disabled button if needed
// ----------------------------------------------
@mixin button_disabled() {   
	@include echo_color_gradient;
	color: $input_disabled_text;
	cursor: text;
	font-weight: normal;
	@include text_shadow(0 1px 3px, $white);
	border-color: $fox_grey;
	opacity: .5;
	//filter: Alpha(Opacity=50);
}

@mixin primary_button_disabled() {
	@include button_disabled;
}
	
@mixin secondary_button_color() {
	@include charlie_color_gradient;
}
	
@mixin secondary_button_hover {
	@include delta_color_gradient;
}

@mixin secondary_button_active() {
	@include delta_color_gradient;
}
	
@mixin secondary_button_disabled() {
	@include button_disabled;
}
/////// Semantic button styles ///////////



/////// Buttons design - primary, secondary, and small mixins ////////
// ----------------------------------------------

// For these button, there is a repeated mixin to maintain all the outer and inner shadows in the various states
@mixin button_shadow ($outer_color, $inner_color) {
	@include dual_box_shadow($outer_color, 0px 3px 3px, $inner_color, 0px -19px 10px 0px);
}

@mixin primary_button() {
	@include extra_large;
	font-weight: 600;
	color: $button_text;
	padding: 0px 20px;
	height: 3em;
	display: inline-block;
	//line-height: 2.5em !important;
	@include border_radius(10px);
	@include primary_button_color;
	@include button_shadow ($shadow_color, $echo_color);
	@include text_shadow($shadow_color, 0px 1px 1px);
	text-decoration: none;
	margin: 4px 10px 0 0;
	width: auto;
	outline: none;
	letter-spacing: -1px;
	border: 1px solid $echo_color;
	
	&:hover {
	  @include primary_button_hover;
	  @include box_shadow($shadow_color, 0px 1px 2px);
	}
		
	&:active {
	  @include primary_button_active;
	}
		
	&[disabled] {
	  @include primary_button_disabled;
	  @include button_shadow ($shadow_color, $fox_grey);
		&:hover {
	    @include box_shadow($shadow_color, 0px 3px 3px);
		}
		
	}
}
		
@mixin secondary_button() {
	@include secondary_button_color;
	border: 1px solid $quebec_color;
	@include button_shadow ($shadow_color, $quebec_color);
	&:hover {
	  @include secondary_button_hover;
	  @include box_shadow($shadow_color, 0px 1px 2px);
	}
	&:active {
		@include secondary_button_active;
	}
	&[disabled] {
	  @include secondary_button_disabled;
	  @include button_shadow ($shadow_color, $fox_grey);
	}
}

@mixin cancel_link() {
	background: none;
	border: 1px solid $alpha_grey;
	border-width: 0 0 0 1px;
	color: $href_color;
	height: auto;
	width: auto;
	letter-spacing: 1px;
	font-weight: normal;
	@include border_radius(0px);
	@include box_shadow(0 0 0, $white);	
	@include text_shadow(0 0 0, $white);
	@include large;
	
	&:hover, &:active {
		text-decoration: underline;
		background: none;
	  @include box_shadow(0 0 0, $white);	
	}
	
	&[disabled] {
		text-decoration: none;
		color: $input_disabled_text;
		background: none;
	  @include box_shadow(0 0 0, $white);	
		&:hover {
	    @include box_shadow(0 0 0, $white);	
		}
	}
}


@mixin small_button() {
	@include large;
	font-weight: bold;
	padding: 0 12px;
	line-height: 1em;
	height: 2.5em;
}
	
@mixin anti_button() {
	button, input[type=submit], a.button {
 		font-size: inherit;
 		font-weight: normal;
 		color: $alpha_grey;
		padding: 0;
 		height: auto;
 		display: inline-block;
 		line-height: 1em;
	  @include border_radius(0px);
 		background: #fff;
	  @include box_shadow(#fff, 0px 0px 0px);
 		text-decoration: none;
 		margin: 0;
 		width: auto;
 		outline: none;
 		
		&:hover {
			background: #fff;
		}
			
		&:active {
			background: #fff;
		}
			
		&[disabled] {
			background: #fff;
		}
	}
}
		
	
/////// Buttons design - primary, secondary, and small ////////



//////// OOCSS form mixins //////////
// ---------------------------------

@mixin field_input_spacing() {
	margin-bottom: 16px !important;
	@include small;
	+ .instructional + .alert {
		margin-top: -8px;
	}
}
		
@mixin dl_selectors() {
	float: left;
	width: 100%;
	margin-bottom: 14px;
	dt, dd {
		float: left;
		height: 20px;
	}
	dt {
		padding-right: 4px;
	}
	dd {
		margin-right: 10px;
		padding-right: 10px;
	}
	label {
		line-height: 1.5em;
		font-weight: normal;
		font-size: 1em;
		margin: 0px;
	}
}
		
@mixin field_focus() {
	&:hover {
		border-color: $form_field_focus_border_color;
	  @include soft_shadow;
	}
	&:focus {
		background-color: $form_field_focus_color;
		border-color: $form_field_focus_border_color;
	  @include soft_shadow;
	}
}


@mixin large_form() {
	input {
		padding: 9px 0 9px 6px;
	  @include border_radius(5px);
	  @include field_focus;
		font-size: 33px;
		line-height: 33px;
	}
	label {
	  @include extra_large;
		line-height: 1em;
	}
}
//////// OOCSS form settings //////////



/////////// Alert icon mixins //////////////
// -----------------------------------------
@mixin warning_box() {
	@include border_radius(6px);
	margin-bottom: 16px;
	padding: 6px 10px 8px;
}
	
@mixin warning_icon_placement() {
	width: 16px;
	height: 17px;
	display: inline-block;
	overflow: hidden;
	margin-right: 8px;
	position: relative;
	top: 3px;
}
	
@mixin warning_placement_before() {
	content: url(/assets/shared/alert_icons_sprite.png);
	left: 0px ;
	position: relative;
}
////////////// Alert icon Mixins //////////////
