// This document is to house Axle's dynamic mixins with arguments
// These mixins are not intended to be application specific
// -----------------------------------------------------------------

// UI elements included in this document
// ----------------------------------------------
// 1) text arguments 
// 2) gradient arguments
// 3) shadow arguments
// 4) border-radius arguments
// 5) column count arguments
// 6) flexbox arguments
// 7) transition arguments
// 8) transform arguments
// 9) clearfix
// 10) inset border
// ----------------------------------------------

/////// text arguments //////////
// -----------------------------
@mixin font($size, $line-height, $weight) {
	font-size: $size;
	font-weight: $weight;
	line-height: $line-height;
}
/////// text arguments //////////

//////// gradient arguments /////////
// The following gradients are designed to use specific color stops
// I prefer to use standardized code as to increase consistency 
// In your app, you are free to update so that the mixin includes setting the color stop
// ----------------------------------------------
@mixin two_stop_linear_gradient ($start_color, $end_color) {
	// default fallback //
	background: $start_color;
	// Mozilla browsers Firefox 3.6+ //
	background: -moz-linear-gradient(top, $start_color 0%, $end_color 100%);
	// Safari 4.0 //
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$start_color), color-stop(100%,$end_color));
	// Safari 5.0 //
	background: -webkit-linear-gradient(top, $start_color 0%, $end_color 100%);
	// Opera 11.10 //
	background-image: -o-linear-gradient(top, $start_color 0%, $end_color 100%);
	// IE6 & 7 //
  //filter: e(%("progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=%d,endColorstr=%d)", $start_color, $end_color));
  // IE8 //
  //-ms-filter: %("progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=%d, endColorstr=%d)", $start_color, $end_color);
}

// two color stop linear gradient with color stops set as variable 
// -------------- 
@mixin two_stop_linear_gradient_freestop ($start_color, $start_color_stop, $end_color, $end_color_stop) {
	// default fallback //
	background: $start_color;
	// Mozilla browsers Firefox 3.6+ //
	background: -moz-linear-gradient(top, $start_color $start_color_stop, $end_color $end_color_stop);
	// Safari 4.0 //
	background: -webkit-gradient(linear, left top, left bottom, color-stop($start_color_stop,$start_color), color-stop($end_color_stop,$end_color));
	// Safari 5.0 //
	background: -webkit-linear-gradient(top, $start_color $start_color_stop, $end_color $end_color_stop);
	// Opera 11.10 //
	background-image: -o-linear-gradient(top, $start_color $start_color_stop, $end_color $end_color_stop);
	// IE6 & 7 //
  //filter: e(%("progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=%d,endColorstr=%d)", $start_color, $end_color));
  // IE8 //
  //-ms-filter: %("progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=%d, endColorstr=%d)", $start_color, $end_color);
}

@mixin three_stop_linear_gradient ($start_color, $start_position, $mid_color, $mid_position, $end_color, $end_position) {
	// default fallback //
	background: $start_color;
	// Mozilla browsers Firefox 3.6+ //
	background: -moz-linear-gradient(top, $start_color $start_position, $mid_color $mid_position, $end_color $end_position);
	// Safari 4.0 //
	background: -webkit-gradient(linear, left top, left bottom, color-stop($start_position,$start_color), color-stop($mid_position,$mid_color), color-stop($end_position,$end_color));
	// Safari 5.0 //
	background: -webkit-linear-gradient(top, $start_color $start_position, $mid_color $mid_position, $end_color $end_position);
	// Opera 11.10 //
	background-image: -o-linear-gradient(top left, $start_color $start_position, $mid_color $mid_position, $end_color $end_position);
	// IE6 & 7 //
  //filter: e(%("progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=%d,endColorstr=%d)", $start_color, $end_color));
  // IE8 //
  //-ms-filter: %("progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=%d, endColorstr=%d)", $start_color, $end_color);
}

@mixin four_stop_linear_gradient ($start_color, $mid_color, $mid_1_color, $end_color) {
	// default fallback //
	background: $start_color;
	// Mozilla browsers Firefox 3.6+ //
	background: -moz-linear-gradient(top, $start_color 0%, $mid_color 50%, $mid_1_color 50%, $end_color 100%);
	// Safari 4.0 //
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$start_color), color-stop(50%,$mid_color), color-stop(51%,$mid_1_color), color-stop(100%,$end_color));
	// Safari 5.0 //
	background: -webkit-linear-gradient(top, $start_color 0%, $mid_color 50%, $mid_1_color 50%, $end_color 100%);
	// Opera 11.10 //
	background-image: -o-linear-gradient(top left, $start_color 0%, $mid_color 50%, $mid_1_color 50%, $end_color 100%);
	// IE6 & 7 //
  //filter: e(%("progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=%d,endColorstr=%d)", $start_color, $end_color));
  // IE8 //
  //-ms-filter: %("progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=%d, endColorstr=%d)", $start_color, $end_color);
}
	
@mixin five_stop_linear_gradient ($start_color, $quater_color, $mid_color, $quater3_color, $end_color) {
	// default fallback //
	background: $start_color;
	// Mozilla browsers Firefox 3.6+ //
	background: -moz-linear-gradient(top, $start_color 0%, $quater_color 25%, $mid_color 50%, $quater3_color 70%, $end_color 100%);
	// Safari 4.0 //
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$start_color), color-stop(50%,$mid_color), color-stop(70%,$quater3_color), color-stop(100%,$end_color));
	// Safari 5.0 //
	background: -webkit-linear-gradient(top, $start_color 0%, $quater_color 25%, $mid_color 50%, $quater3_color 70%, $end_color 100%);
	// IE6 & 7 //
  //filter: e(%("progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=%d,endColorstr=%d)", $start_color, $end_color));
  // IE8 //
  //-ms-filter: %("progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=%d, endColorstr=%d)", $start_color, $end_color);
}
	
// I know, I have to refactor this, this is kinda ugly ;(	
// ---------------------
@mixin complex_gradient($zero, $ten, $twentyfive, $thirtyseven, $fifty, $fiftyone, $eightythree, $onehndred) {
	// default fallback //
	background: $zero;
	// Mozilla browsers Firefox 3.6+ //
	background: -moz-linear-gradient(top, $zero 0%, $ten 10%, $twentyfive 25%, $thirtyseven 37%, $fifty 50%, $fiftyone 51%, $eightythree 83%, $onehndred 100%);
	// Safari 4.0 //
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$zero), color-stop(10%,$ten), color-stop(25%,$twentyfive), color-stop(37%,$thirtyseven), color-stop(50%,$fifty), color-stop(51%,$fiftyone), color-stop(83%,$eightythree), color-stop(100%,$onehndred));
	// Safari 5.0 //
	background: -webkit-linear-gradient(top, $zero 0%, $ten 10%, $twentyfive 25%, $thirtyseven 37%, $fifty 50%, $fiftyone 51%, $eightythree 83%, $onehndred 100%);
	// Opera 11.10 //
	background-image: -o-linear-gradient(top, $zero 0%, $ten 10%, $twentyfive 25%, $thirtyseven 37%, $fifty 50%, $fiftyone 51%, $eightythree 83%, $onehndred 100%);
	// IE6 & 7 //
  //filter: e(%("progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=%d,endColorstr=%d)", $zero, $onehndred));
  // IE8 //
  //-ms-filter: %("progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=%d, endColorstr=%d)", $zero, $onehndred);
}

//////// gradient arguments /////////

/////// shadow arguments /////////
// -------------------------------
@mixin box_shadow ($color, $shadow) {
	-moz-box-shadow: $color $shadow;
	-webkit-box-shadow: $color $shadow;
	box-shadow: $color $shadow;
}

@mixin dual_box_shadow ($color, $shadow, $inset_color, $inset_shadow) {
	-moz-box-shadow: $color $shadow, inset $inset_color $inset_shadow;
	-webkit-box-shadow: $color $shadow, inset $inset_color $inset_shadow;
	box-shadow: $color $shadow, inset $inset_color $inset_shadow;
}

@mixin text_shadow ($color, $shadow) {
	-moz-text-shadow: $color $shadow;
	-webkit-text-shadow: $color $shadow;
	text-shadow: $color $shadow;
}

/////// shadow arguments /////////

/////// border-radius arguments	/////////
// --------------------------------------
@mixin border_radius ($border_radius) {
	-moz-border-radius: $border_radius;
	-webkit-border-radius: $border_radius;
	border-radius: $border_radius;
}
/////// border-radius arguments	/////////

/////// column count arguments	/////////
// --------------------------------------
@mixin column_count($col_count, $col_gap) {
	-webkit-column-count: $col_count ;
	-webkit-column-gap: $col_gap;
	-moz-column-count: $col_count ;
	-moz-column-gap: $col_gap;
}

/////// column count arguments	/////////

///////// flexbox arguments	/////////
// -----------------------------------
@mixin flexbox ($orient, $pack, $align, $width, $height) {
	display: -webkit-box;
	display: -moz-box;
	display: box;
	-webkit-box-orient: $orient;
	-webkit-box-pack: $pack;
	-webkit-box-align: $align;
	-moz-box-orient: $orient;
	-moz-box-pack: $pack;
	-moz-box-align: $align;
	box-orient: $orient;
	box-pack: $pack;
	box-align: $align;
	height: $height;
	width: $width;
}

@mixin flex ($value) {
	-webkit-box-flex: $value;
	-moz-box-flex: $value;
}

///////// flexbox arguments	/////////

/////// transition arguments //////////
// http://www.w3schools.com/css3/css3_pr_transition.asp

@mixin transition ($property, $duration, $timing_function, $delay) {
	-webkit-transition: $property $duration $timing_function $delay;
	-moz-transition: $property $duration $timing_function $delay;
	-o-transition: $property $duration $timing_function $delay;
}

/////// transition arguments //////////


/////// transform arguments //////////
// http://www.w3schools.com/css3/css3_pr_transform.asp

@mixin transform ($function) {
	-webkit-transform: $function;
	-moz-transform: $function;
	-o-transform: $function;
	transform: $function;
}

/////// transform arguments //////////

/////// clearfix //////////
@mixin clearfix () {
	&:before {
		content: "\0020";
		display: block;
		height: 0;
		overflow: hidden;
	}
	&:after {
		content: "\0020";
		display: block;
		height: 0;
		overflow: hidden;
		clear: both;
	}
	zoom: 1;
}
.clearfix { 
  @include clearfix(); 
}

/////// clearfix //////////

///////// inset border /////////
@mixin inset_border () {
	@include box_shadow(inset 0 0 1px, $alpha_grey);
}

///////// inset border /////////
