<h3>Authorize Your Account with Fitbit</h3>

<section>
	In just a few steps you can authorize Fitbit to exchange data with this test site!  
	<ol class="instructional-list">
		<li>Click the 'Authorize with Fitbit' button at the bottom of this page.</li>
		<li>You will be directed to fitbit.com; log in with your fitbit account information.</li>
		<li>You will be asked to authorize the <strong>Fitbit Rails Test Client</strong> application.</li>
		<li>Once approved, Fitbit will redirect you back to this site to complete the link.</lI>
	</ol>
</section>

<%= button_to 'Authorize with Fitbit', url_for(:controller => :fitgem_oauth, :action => :start) %>