<div class="multiline-alert-box">
	<p><%= link_to 'Link your fitbit account', fitbit_path %> or <a href="http://www.fitbit.com/user/profile/privacy">review your privacy settings in Fitbit</a> to view this section.</p>
</div>