<h3>Fitbit API Code Examples</h3>

<p>There are examples on this site for retrieving and saving resources information, manipulating data subscriptions, and using the fitgem library and fitgem client wrapper object in a Rails application.</p>

<h5><%= link_to 'General Fitgem Examples', examples_fitgem_path %></h5>

<h5><%= link_to 'Resources Examples', examples_resources_path %></h5>

<h5><%= link_to 'Subscriptions Examples', examples_subscriptions_path %></h5>
