<ul class="pager">
  <li class="previous">
    <%= link_to "&larr; Using Fitgem".html_safe, using_fitgem_path %>
  </li>
  <!--<li class="next">
    <%= link_to "Fitbit Subscriptions &rarr;".html_safe, fitbit_subscriptions_path %>
  </li>-->
</ul>

<div class="page-header">
  <h1>Accessing Fitbit Resources</h1>
</div>

<p>
Fitbit considers a 'resource' to be any of the nouns associated with health tracking. Examples include foods consumed, activities participated in, characteristics of your tracker device, and body measurements.  From the <i class="icon-search"></i> <a href="https://wiki.fitbit.com/display/API/Fitbit+Resource+Access+API">Fitbit Resource API page</a>:
<blockquote>The Resource Access API is the main part of Fitbit API and contains of long list of REST endpoints that allow reading and modifying user resources via their URLs. Currently we provide methods to work with tracker collections and their metadata, profile and social resources and actions, user's device data and general system resources. The most basic example of resources are user's activities and food log entries.</blockquote>

</p>

<h2>Available Resources</h2>
<p>
Each resource below will include sample code on how to access it using fitgem. I will generally defer to the Fitbit Developer site for complete API documentation as I don't wish this site to get out of date too quickly.  Instead I'll focus on just the mechanics of using the library to interface with the API.
</p>

<p>
If you are logged into this site and have connected your login with a Fitbit account, then in each section you'll also see the relevant data retrieved using the API described there.
</p>

<div class="alert alert-info">
	<h4 class="alert-heading">Important!</h4>
	All code examples assume you already have access to an instance of the <code>Fitgem::Client</code> class, referred to as
	<code>client</code> in the code.  They include output as an example of the structure of the data that's returned; take care that
	the API may evolve so pay more attention to the structure than specific fields.
</div>

<h2>Foods</h2>





<script type="text/javascript">$(document).ready(function(){FitgemClient.init({logged_in:<%= user_signed_in? %>,linked:<%= user_signed_in? && current_user.linked? %>});});</script>
