<ul class="pager">
  <li class="previous">
    <%= link_to "&larr; Fitbit Resources".html_safe, fitbit_resources_path %>
  </li>
  <li class="next">
    <%= link_to "Fitgem on Rails &rarr;".html_safe, fitgem_on_rails_path %>
  </li>
</ul>

<div class="page-header">
  <h1>Fitbit Subscriptions</h1>
</div>

<p>
Hello
</p>