<ul class="pager">
  <li class="previous">
    <%= link_to "&larr; Using Fitgem".html_safe, using_fitgem_path %>
  </li>
  <li class="next">
    <%= link_to "Fitbit Subscriptions &rarr;".html_safe, fitbit_subscriptions_path %>
  </li>
</ul>

<div class="page-header">
  <h1>Fitbit Resources</h1>
</div>

<p>
Hello
</p>