<ul class="pager">
  <li class="previous">
    <%= link_to "&larr; Fitbit Data Subscriptions".html_safe, guide_subscriptions_path %>
  </li>
</ul>

<div class="page-header">
  <h1>Fitgem on Rails <small>Chapter 8</small></h1>
</div>

<p>
  Right now there's an <a href="https://github.com/whazzmaster/fitgem-client/issues/6">open issue on Github</a> around writing content for this page to describe the architecture and design of the code for this site in detail. In particular I'd really like to discuss the split between the Rails functionality and the Backbone.js functionality. Please contribute and submit a pull request!
</p>

<ul class="pager">
  <li class="previous">
    <%= link_to "&larr; Fitbit Data Subscriptions".html_safe, guide_subscriptions_path %>
  </li>
</ul>