<ul class="pager">
  <li class="previous">
    <%= link_to "&larr; Fitbit Subscriptions".html_safe, fitbit_subscriptions_path %>
  </li>
</ul>

<div class="page-header">
  <h1>Fitgem on Rails</h1>
</div>

<p>
Hello
</p>