<ul class="pager">
  <li class="previous">
    <%= link_to "&larr; Introduction".html_safe, introduction_path %>
  </li>
  <li class="next">
    <%= link_to "Using Fitgem &rarr;".html_safe, using_fitgem_path %>
  </li>
</ul>

<div class="page-header">
  <h1>Getting Started</h1>
</div>

<p>
Hello
</p>