<ul class="pager">
  <li class="previous">
    <%= link_to "&larr; Fitbit Resources: Foods".html_safe, guide_foods_path %>
  </li>
  <li class="next">
    <%= link_to "Fitgem on Rails &rarr;".html_safe, guide_fitgem_on_rails_path %>
  </li>
</ul>

<div class="page-header">
  <h1>Fitbit Data Subscriptions <small>Chapter 7</small></h1>
</div>

<p>
Right now there's an <a href="https://github.com/whazzmaster/fitgem-client/issues/2">open issue on Github</a> around writing content for this page to describe how to create and consume data subscriptions for the Fitbit API. Please contribute and submit a pull request!
</p>

<ul class="pager">
  <li class="previous">
    <%= link_to "&larr; Fitbit Resources: Foods".html_safe, guide_foods_path %>
  </li>
  <li class="next">
    <%= link_to "Fitgem on Rails &rarr;".html_safe, guide_fitgem_on_rails_path %>
  </li>
</ul>