<div class="row navigation-buttons">
  <div class="small-6 columns go-back">
    <%= link_to "<i class='fa fa-arrow-left'></i> Introduction".html_safe, guide_introduction_path, class: 'button tiny round' %>
  </div>
  <div class="small-6 columns go-forward">
    <%= link_to "User Information <i class='fa fa-arrow-right'></i>".html_safe, guide_user_information_path, class: 'button tiny round' %>
  </div>
</div>

<div class="page-header">
  <h1>Getting Started <small>Chapter 2</small></h1>
</div>

<p>
    Let's jump right in and play around with the fitgem API using some command-line Ruby scripts. The necessary
    files embedded below are <a href="https://gist.githubusercontent.com/whazzmaster/5322902">available via Gist</a>. <b>As always, you
    should inspect the scripts you download and run to ensure they do what you think they should</b>.
</p>

<h3>Step 1: Build Your Sandbox</h3>
<p>
  Create a sandbox to play in and get <code>fitgem</code>.
</p>
<pre><code class="bash">$ mkdir fitgem-sandbox
$ cd fitgem-sandbox
fitgem-sandbox $ gem install fitgem
Fetching: oauth-0.4.7.gem (100%)
Successfully installed oauth-0.4.7
Fetching: fitgem-0.10.0.gem (100%)
Successfully installed fitgem-0.10.0
2 gems installed</code></pre>

<h3>Step 2: Set Up a Config File to Hold OAuth Tokens</h1>
<p>
    The bench test script included below uses a YAML file to store the oauth tokens received from Fitbit.
    Create or download the file called <code>.fitgem.yml</code> and add the <code>consumer_key</code> and
    <code>consumer_secret</code> you received from the <a href="https://wiki.fitbit.com/display/API/Fitbit+API">Fitbit API</a>
    site.
</p>
<pre><code class="bash">fitgem-sandbox $ curl https://gist.githubusercontent.com/whazzmaster/5322902/raw/aa4293a9eb288d2096840a05b35a1ecf829defc1/.fitgem.yml > .fitgem.yml</code></pre>
<script src="https://gist.githubusercontent.com/whazzmaster/5322902.js?file=.fitgem.yml"></script>

<p>
    <b>Ensure that you edit .fitgem.yml and add your oauth consumer key and secret.</b> After you complete the initial
    authorization the script will write the complete set of oauth tokens back to
    <b>.fitgem.yml</b> so that on subsequent calls you don't need to reauthorize and can make API calls at will.
</p>

<h3>Step 3: Login and Get OAuth Tokens</h3>
<p>Copy or download the <code>test-fitgem.rb</code> script and enable it for execution.</p>

<pre><code class="bash">fitgem-sandbox $ curl https://gist.githubusercontent.com/whazzmaster/5322902/raw/4439e2d577567d280856a2d77cef7b824a851cd1/test-fitgem.rb > test-fitgem.rb
fitgem-sandbox $ chmod +x test-fitgem.rb</code></pre>

<script src="https://gist.githubusercontent.com/whazzmaster/5322902.js?file=test-fitgem.rb"></script>

<p>
Now you can call it with:
</p>

<pre><code class="bash">fitgem-sandbox $ ./test-fitgem.rb</code></pre>

<p>
    The first time you call the script it will output a URL that you need to copy/paste into your browser.
    You will need to login to Fitbit.com and approve the application, and then you'll see a verifier code
    that you need to copy/paste back into the command prompt.  After hitting pasting in the verifier code
    and hitting 'Enter' you should be all set.
</p>

<h3>Step 4: You're Now Ready to Experiment with the API</h3>
<p>
    In the sample script (test-fitgem.rb:line 59) it will <a href="http://rubydoc.info/github/whazzmaster/fitgem/Fitgem/Client:activities_on_date">fetch all the activities logged 'today'</a>
    as an example.  You can now freely change-up the code after line 57 of <code>test-fitgem.rb</code> to explore the different logging
    and query methods available on the fitgem API. Check the
    <a href="http://rubydoc.info/github/whazzmaster/fitgem/Fitgem/Client">Fitgem::Client class</a> documentation to
    see what's available in the API.
</p>

<p>
On the day I ran the above script I received the following output:
</p>

<pre><code class="ruby">{"activities"=>[],
 "goals"=>
  {"activeScore"=>1000,
   "caloriesOut"=>2911,
   "distance"=>5,
   "floors"=>10,
   "steps"=>10000},
 "summary"=>
  {"activeScore"=>384,
   "activityCalories"=>781,
   "caloriesOut"=>2270,
   "distances"=>
    [{"activity"=>"total", "distance"=>0.81},
     {"activity"=>"tracker", "distance"=>0.81},
     {"activity"=>"loggedActivities", "distance"=>0},
     {"activity"=>"veryActive", "distance"=>0},
     {"activity"=>"moderatelyActive", "distance"=>0.43},
     {"activity"=>"lightlyActive", "distance"=>0.36},
     {"activity"=>"sedentaryActive", "distance"=>0}],
   "elevation"=>30,
   "fairlyActiveMinutes"=>49,
   "floors"=>3,
   "lightlyActiveMinutes"=>168,
   "marginalCalories"=>431,
   "sedentaryMinutes"=>1159,
   "steps"=>1803,
   "veryActiveMinutes"=>0}}
</code></pre>

<div class="row navigation-buttons">
  <div class="small-6 columns go-back">
    <%= link_to "<i class='fa fa-arrow-left'></i> Introduction".html_safe, guide_introduction_path, class: 'button tiny round' %>
  </div>
  <div class="small-6 columns go-forward">
    <%= link_to "Fitbit Resources: User Information <i class='fa fa-arrow-right'></i>".html_safe, guide_user_information_path, class: 'button tiny round' %>
  </div>
</div>
