<ul class="pager">
  <li class="previous">
    <%= link_to "&larr; Getting Started".html_safe, getting_started_path %>
  </li>
  <li class="next">
    <%= link_to "Fitbit Resources &rarr;".html_safe, fitbit_resources_path %>
  </li>
</ul>

<div class="page-header">
  <h1>Using Fitgem</h1>
</div>

<p>
Hello
</p>