/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require 'vendor/twitter-bootstrap-2.3.1/bootstrap'
 *= require 'vendor/bootstrap-datepicker'
 *= require 'vendor/bootstrap-timepicker'
 *= require 'custom'
 *= require 'overrides'
*/

.activity-date-picker {
  display: inline;
  vertical-align: 3px;
}

.inline-activity-datepicker-form {
  padding-top: 15px;
  button { margin-top: -9px; }
}

.live-data-form {
  position: relative;
  margin: 15px 0;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  legend { padding-left: 20px; }
}
