/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require 'vendor/twitter-bootstrap-2.3.1/bootstrap'
 *= require 'vendor/bootstrap-datepicker'
 *= require 'vendor/bootstrap-timepicker'
 *= require 'custom'
 *= require 'overrides'
*/

.activity-date-picker {
  display: inline;
  vertical-align: 3px;
}

.inline-activity-datepicker-form {
  padding-top: 15px;
  button { margin-top: -9px; }
}

.live-data-form {
  position: relative;
  margin: 15px 0;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  legend { padding-left: 20px; }
}

.live-data-form-container {
  border: 1px solid #888;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  .new-live-data-form {
    width: 100%;
    min-height: 100px;
    padding: 0px;
    background-color: #fff;
    border-bottom: 1px solid #888;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 3px 0px #d8eece;
    -moz-box-shadow: 0px 3px 0px #d8eece;
    box-shadow: 0px 3px 0px #d8eece;
    &:after {
      display: table;
      line-height: 0;
      content: "";
      clear: both;
    }
    .search-form-and-results {
      float: left;
      width: 33%;
      min-height: 100px;
      border-right: 1px solid #888;
      form {
        text-align: center;
        margin: 0;
        padding: 15px 0;
      }
      .search-results {
        list-style-type: none;
        margin: 0;
        max-height: 250px;
        overflow: auto;
        border-top: 1px solid #ddd;
        li {
          border-top: 1px solid #ddd;
          margin: auto 0;
          padding: 10px;
          cursor: pointer;
          cursor: hand;
          &:hover {
            background-color: #D8EECE;
          }
        }
      }
    }
    .selected-item-view {
      float: left;
      width: 60%;
      padding: 0 15px;
      dl {
        font-size: 15pt;
        dt, dd { line-height: 1.5em; }
      }
    }
  }
  .live-data-footer {
    width: 100%;
    background-color: #D8EECE;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    .content {
      padding: 10px;
      text-align: right;
    }
  }
}
