body {
 font-family: 'Droid Serif', arial, serif;
}

h1 { @include font(4em, 1.5em, inherit); font-family: 'Droid Sans', arial, serif; }
h2 { @include font(3em, 1.5em, inherit); font-family: 'Droid Sans', arial, serif; }
h3 { @include font(2.34em, "", inherit); margin: 0.2em 0; font-family: 'Droid Sans', arial, serif; }
h4 { @include font(2em, "", inherit); margin: 0.2em 0; font-family: 'Droid Sans', arial, serif; }
h5 { @include font(1.5em, "", inherit); margin: 0.2em 0; font-family: 'Droid Sans', arial, serif; }
h6 { @include font(1em, "", inherit); margin: 0.5em 0; font-family: 'Droid Sans', arial, serif; }

strong { font-weight: bold; }

#site-header {
  width: 960px;
  margin: 20px auto;
  h1 {
    a { text-decoration: none; color: $primary_text; }
    a:hover { text-decoration: none; color: $primary_text; }
    a:visited { text-decoration: none; color: $primary_text; }
  }
  #site-logo { float: left; }
  nav {
    width: 960px;
    margin: 0 auto;
    @include ul_flexbox($width: 50%, $height: auto, $text_align: left);
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: 7px 15px;
  }
  #login-nav {
   float: right;
   @include small;
  }
}

#main {
 width: 960px;
 margin: 20px auto;
}

#content {
  @include grid_12(8);
}

#site-sidebar {
  @include grid_12(4);
  section {
   padding: 5px;
  }
}

#site-footer {
  clear: both;
  height: 75px;
  padding: 10px 0;
  .outer {
    width: 960px;
    margin: 0 auto;
    margin-top: 30px;
    .inner {
      @include grid_12(12);
    }
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: 7px 15px;
    height: 20px;
  }
}

pre {
    background: #313131;
    padding: 20px;
    @include border_radius (10px);
    color: orange;
    @include extra-small;
   font-family: Monaco, Arial, sans-serif;
    margin: 20px 0;
    span {
    	color: white;
    }
}

p {
  padding: 5px 0;
  line-height: 1.3em;
}

#login-container {
  margin: 10px auto;
  width: 500px;
  border: 1px solid $bravo_grey;
  padding: 20px;
  @include border-radius(5px);
  h4 {
   margin: -19px -19px 15px;
   padding: 10px 20px;
   /*background-color: saturate($hotel_color, 10%); */
   @include charlie_color_gradient;
  }
}

article ul {
 list-style: square inside;
 padding-left: 15px;
 li:first-child {
  padding-top: 5px;
 }
 li {
  padding-bottom: 5px;
 }
}

article aside {
  @include extra-small;
  font-family: 'Droid Sans', arial, serif;
  float: right;
}

.instructional-list {
 list-style: decimal outside;
 padding: 7px 15px;
 margin-left: 20px;
 li { padding: 3px 0; }
}

code {
 border: 1px solid #000;
 @include border-radius(3px);
 font-family: Monaco, Arial, sans-serif;
 font-size: 0.8em;
 padding: 2px 4px;
}

.fitbit-api-data {
  font-family: 'Droid Sans', arial, serif;
  @include border-radius(5px);
  border: 2px solid #000;
  color: #fffe40;
  background-color: #313131;
 .line-title {
   padding: 3px 7px 3px 150px;
 }
 .source {
   float: right;
   padding: 3px 7px;
 }
 .indent-container {
   padding-left: 15px;
 }
 .line-item {
   clear: both;
  .label {
    padding: 3px 7px;
    width: 130px;
    text-align: right;
    float: left;
  }
  .value {
    padding: 3px 7px;
    font-weight: bold;
    float: left;
  }
 }
 .end { padding-bottom: 8px; }
}

#blog {
  section {

  }
  aside {
   padding: 16px 10px;
  }
  h4 {
    padding: 5px 0 5px 10px;
    background-color: $hotel_grey;
  }
  ol {
    list-style: decimal outside;
    padding: 7px 15px;
    margin-left: 20px;
    li { padding: 3px 0; }
  }
}

.grid-1 { @include grid_12(1); }
.grid-2 { @include grid_12(2); }
.grid-3 { @include grid_12(3); }
.grid-4 { @include grid_12(4); }
.grid-5 { @include grid_12(5); }
.grid-6 { @include grid_12(6); }
.grid-7 { @include grid_12(7); }
.grid-8 { @include grid_12(8); }
.grid-9 { @include grid_12(9); }
.grid-10 { @include grid_12(10); }
.grid-11 { @include grid_12(11); }
.grid-12 { @include grid_12(12); }