// intent of the 'form' LESS is that all essential form elements for the application are placed here
// individual element styling will be addressed in element name spaced LESS files

// UI elements included in this document
// ----------------------------------------------
// 1) Buttons
//		a) Mixins live in /public/styles/less/imports/forms.less 
// 2) dynamic layout nth child styles for special arrangements 
// 3) styles for custom-select UI
// 4) inputs
// 5) form layouts
// 6) styles to manage <ul> containers
// 7) Pagination ui
// 8) Error alert ui
// ----------------------------------------------



//////// buttons ////////
// ----------------------------------------------

// This will auto concatenate a primary button with a secondary button
// --------------------------------------------------------------------
button, input[type=submit], input[type=button], a.button {
	@include primary_button;
	&:nth-child(n+2) {
		@include secondary_button;
	}
}

// This will concatenate a row of button all with the primary style
// -----------------------------------------------------------------
.primary_buttons {
	button, input[type=submit], input[type=button], a.button {
		&:nth-child(1n+2) {
			@include primary_button;
			line-height: 3em !important
		}
	}
}

// This will concatenate a row of button all with the secondary style
// ------------------------------------------------------------------
.secondary_buttons {
	button, input[type=submit], input[type=button], a.button {
		@include secondary_button;
	}
}

// When applied, set nth value for where CANCEL <button> link UI is to appear. 
// --------------------------------------------------------------------------- 
.cancel_buttons {
	button, input[type=submit], input[type=button], a.button {
		&:nth-child(1n+2) {
			@include cancel_link;
		}
	}
}

// This will convert a row of buttons to the SMALL style
// -----------------------------------------------------	
.small_buttons {
	button, input[type=submit], input[type=button], a.button {
		@include small_button;
	}
	a.button {
		line-height: 2.5em;
	}
}
		



// Special styles to support an <a> button
// ---------------------------------------
a.button {
	font-weight: bold;
	letter-spacing: -0.06em;
	line-height: 3em;
	&.active {
		&:hover {
			@include box_shadow(0 0 0, $white);
		}
	}
}

a#disabled {
	@include primary_button_disabled;
	border-color: $fox_grey;
	@include button_shadow($shadow_color, $fox_grey);
	&:hover {
		@include button_shadow($shadow_color, $fox_grey);
	}
}

.cancel_buttons {
	a#disabled {
		background: none;
		@include box_shadow(0 0 0, $white);
		&:hover {
			@include box_shadow(0px 0 0, $white);
			text-decoration: none;
		}
	}
}
	
// Post click active state for buttons
// You need to turn off all the button UI so that the spinner will show
// --------------------------------------------------------------------
button.active, input[type=submit].active, input[type=button].active, a.active {
	
	// show spinner
	// ------------
	@include ajax_spinner_lg;
	
	// deactivate all the buttons UI
	// ------------------------------
	color: fadeout($alpha_grey, 100%);			// makes text transparent
	@include box_shadow(fadeout($white, 100%), 0 0 0);	// makes shadow transparent 
	@include text_shadow(0 0 0, fadeout($white, 100%));	// makes text shadow transparent
	border: 0px;								// removes border	
	
	// keeps the spinner in view with hover
	// ------------------------------------
	&:hover {
		@include ajax_spinner_lg;
	}
}
		
.anti_buttons {
	@include anti_button;
}

////// buttons ////////
 
 
 
///////// dynamic layout nth child styles for special arrangements ////////
// ---------------------------------------------------------------------------

// Special use case if you need two primary buttons followed by secondary buttons
// -------------------------------------------------------------------------------
.dual_primary_buttons {
 	button, input[type=submit], input[type=button], a.button {
 		&:nth-child(n+2) {
 			@include primary_button;
 		}
 		&:nth-child(n+3) {
 			@include secondary_button;
 		}
 	}
 }
 
.dual_primary_cancel_buttons {
 	button, input[type=submit], input[type=button], a.button {
 		&:nth-child(n+2) {
 			@include primary_button;
 		}
 		&:nth-child(n+3) {
 			@include cancel_link;
 		}
 	}
 }
 
.reverse_primary_buttons {
	button, input[type=submit], input[type=button], a.button {
		&:nth-child(1) {
			@include secondary_button;
		}
		&:nth-child(1n+2) {
			@include primary_button;
		}
	}
}


.dual_primary_buttons_small {
	button, input[type=submit], input[type=button], a.button {
		@include small_button;
		&:nth-child(n+2) {
			@include primary_button;
			@include small_button;
		}
		&:nth-child(n+3) {
			@include secondary_button;
		}
	}
}
			
.reverse_primary_buttons_small {
	button, input[type=submit], input[type=button], a.button {
		@include small_button;
		&:nth-child(1) {
			@include secondary_button;
		}
		&:nth-child(1n+2) {
			@include primary_button;
			@include small_button;
		}
	}
}
//////// special case buttons use ////////

//////////// styles for custom-select UI ///////////
// --------------------------------------------------

// To suport a stylized select drop down menu
.custom-select {
	position: relative;
	display: inline-block;
	margin-bottom: 16px;
	width: 100%;
	select  {
		margin: 0 !important;
		font: inherit;
		line-height: 1.2;
		color: $alpha_grey;
		@include four_stop_linear_gradient(#E2E2E2, #DBDBDB, #D1D1D1, #DDDDDD);
				
		-webkit-appearance: none;
				
		@include border_radius(6px);
		
		&:hover, &:focus {
			border-color: $charlie_grey !important;
		}
	}
		
	&:after {
		content: "\25BC";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		line-height: 28px;
		padding: 0 7px;
		@include four_stop_linear_gradient(#E2E2E2, #DBDBDB, #D1D1D1, #DDDDDD);
		color: $alpha_grey;
		border: 1px solid $charlie_grey;
		border-width: 1px 1px 1px 0;
	
		pointer-events:none;
	
		@include border_radius(0 6px 6px 0);
	}
}
	
.no-pointer-events  {
	.custom-select:after {
		content: none;
	}
}

///////// styles for custom-select UI ///////////						


//////// inputs ////////
// ---------------------

input[type=text], input[type=email], input[type=password], select, textarea, a.ui-selectmenu {
	border: 1px solid $form_field_border;
	background: $form_field_background_color;
	@include border_radius(5px);
	padding: 6px 0 6px 10px;
	width: 98%;
	outline: none;
	@include field_input_spacing;
	@include field_focus;
	@include large;
	color: $form_field_text;
}
	
select {
	width: 100%;
}
	
.fail {
	background: $form_field_fail_bkg !important;
	border-color: $form_field_border_fail !important;
	color: $form_field_text_fail !important;
	&:focus {
		background: $form_field_fail_bkg !important;
	}
	select {
		background: $form_field_fail_bkg;
		border-color: $form_field_border_fail;
		&:focus {
			background: $form_field_fail_bkg;
		}
	}
	&:after {
		background: $form_field_fail_bkg;
		border-color: $form_field_border_fail;
	}
}

input[disabled], textarea[disabled], .disabled {
	background-color: $input_disabled_bkg;
	border-color: $input_disabled_border;
	color: $input_disabled_text;
	opacity: .35;
	//filter: Alpha(Opacity=35);
	&:hover {
		border-color: $input_disabled_border;
		@include soft_shadow;
	}
}


input[type=submit], input[type=button] {
	opacity: 1.0;
	//filter: Alpha(Opacity=100);
}

textarea {
	height: 250px;
	font-family: Courier;
}
			
input[type=file], dl.horizontal_selectors, dl.vertical_selectors {
	@include field_input_spacing;
}



//////// inputs ////////
		

//////// form layouts ////////
// ---------------------------

label {
	display: block;
	@include small;
	font-weight: bold;
	line-height: 1em;
	margin-bottom: 4px;
	span {
		color: $delta_grey;
		padding-left: 3px;
		font-weight: normal;
	}
}

form {
	dl {
		+ p {
			margin-bottom: 0px;
		}
	}
}
			
///////// styles to manage <ul> containers ///////////
// ---------------------------------------------------

.horizontal_selectors {
	@include flexbox(horizontal, start, end, 100%, 100%);
	@include field_input_spacing;
	li {
		margin-right: 10px;
		padding-right: 10px;
	}
	label {
		display: inline-block;
		line-height: 1.5em;
		font-weight: normal;
		font-size: 1em;
		margin: 0px;
	}
}
		
.vertical_selectors {
	@include field_input_spacing;
	label {
		display: inline-block;
		font-weight: normal;
		margin-bottom: 8px;
		font-size: 1em;
	}
}
		
///////// styles to manage <ul> containers ///////////							



////////////// Pagination ui //////////////
// ---------------------------------------
.pagination {
  list-style: none;
	@include flexbox(horizontal, end, center, 100%, 100%);
	input[type=text] {
		width: 22px;
		margin: 0px 8px !important;
		padding-right: 6px;
		border-color: $echo_grey;
	}
	li.pagination_left {
		@include flex(1);
	}
	li {
		> ul {
		  list-style: none;
			@include flexbox(horizontal, end, center, 100%, 100%);
			margin: 0px;
			li {
				line-height: 1em;
				width: 32px;
				height: 22px;
				border: 1px solid $echo_grey;
				@include lima_color_gradient;
				&:active {
					@include box_shadow(inset fadeout($alpha_grey, 80%), 0px 0px 10px 0px);
				}
				&:hover {
					a {
						border-color: transparent $bravo_color transparent $bravo_color;
					}
				}
			}
			li {
				&:nth-child(1) {
					margin: 0 1px 0 6px;
				}
				&:nth-child(2) {
					margin: 0;
				}
			}
			li  {
				a {
					border-color: transparent $bravo_grey transparent transparent;
					border-style: solid;
					border-width: 6px 11px 6px 0px;
					display: inline-block;
					position: relative;
					top: 5px;
					left: 10px;
				}
			}
			li  {
				+ li  {
					a {
						border-color: transparent transparent transparent $bravo_grey;
						border-width: 6px 0px 6px 11px;
					}
				}
			}
		}
	}
}
		
////////////// Pagination ui //////////////

////////////// Error alert ui //////////////		
// ----------------------------------------

@mixin alert-box {
	background-color: $kilo_color;
	@include warning_box;
	.alert_icon {
		@include warning_icon_placement;
		&:before {
			@include warning_placement_before;
			top: -34px;
		}
	}
}
.alert-box { @include alert-box; }
			
@mixin success-box {
	background-color: $golf_color;
	@include warning_box;
	.success_icon {
		@include warning_icon_placement;
		&:before {
			@include warning_placement_before;
			top: 0px;
		}
	}
}
.success-box { @include success-box; }
.information-box {
  @include success-box;
  p { margin-left: 27px; }
  .success_icon {
    left: 2px;
    top: 7px;
    float: left;
  }
}

@mixin error-box {
	background-color: $charlie_color;
	@include warning_box;
	.error_icon {
		@include warning_icon_placement;
		&:before {
			@include warning_placement_before;
			top: -16px;
		}
	}
}
.error-box { @include error-box; }
////////////// Error alert ui //////////////
