.side-navigation {
  background-color: $quaternary-color;
  li.heading {
    padding: 0 1em;
  }
  li.active {
    background-color: $secondary-color;
  }
}

.site-footer {
  background-color: $primary-color;
  color: $quinary-color;
  padding: 4em 0;
  .copyright { text-align: right; }
  a {
    color: $quinary-color;
    text-decoration: none;
    &:hover { color: $quinary-color; }
    &:visited { color: $quinary-color; }
  }
}

.navigation-buttons {
  padding: 2em 0;
  .go-back { text-align: left; }
  .go-forward { text-align: right; }
  a {
    background-color: $quaternary-color;
    color: $primary-color;
  }
}

pre {
  margin-bottom: 1em;
}

.gist {
  table { width: 100%; }
}

.table { width: 100%; }

#flash { margin: 2em 0; }
