.live-data-form-container {
  border: 1px solid #888;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  .live-data-form {
    width: 100%;
    min-height: 100px;
    padding: 0px;
    background-color: #fff;
    border-bottom: 1px solid #888;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 3px 0px #d8eece;
    -moz-box-shadow: 0px 3px 0px #d8eece;
    box-shadow: 0px 3px 0px #d8eece;
    &:after {
      display: table;
      line-height: 0;
      content: "";
      clear: both;
    }
    form {
      legend { padding: 5px 10px; }
    }
    .search-form-and-results {
      float: left;
      width: 33%;
      height: 250px;
      border-right: 1px solid #888;
      form {
        text-align: center;
        margin: 0;
        padding: 15px 0;
      }
      .search-results {
        list-style-type: none;
        margin: 0;
        height: 189px;
        overflow: auto;
        border-top: 1px solid #ddd;
        li {
          border-top: 1px solid #ddd;
          margin: auto 0;
          padding: 10px;
          cursor: pointer;
          cursor: hand;
          &:hover {
            background-color: #D8EECE;
          }
          &:first-child {
            border-top: 0;
          }
        }
      }
    }
    .selected-item-view {
      float: left;
      width: 60%;
      padding: 0 15px;
      dl {
        font-size: 15pt;
        dt, dd {
          line-height: 1.5em;
        }
      }
      .instructions {
        color: #aaaaaa;
      }
    }
  }
  .live-data-footer {
    width: 100%;
    background-color: #D8EECE;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    .content {
      padding: 10px;
      text-align: right;
    }
  }
}