
//// styleguide UI ////
.styleguide {
	background: $white;

	body {
		background: $white;
	}

	#header {
		visibility: hidden;
		display: none;
	}

	.instructions {
		display: block;
    @include large;
	}

	code {
		padding: 3px 6px;
		border: 1px solid $alpha_grey;
		white-space: nowrap;
    line-height: 1.5em;
	}

	article {
		float: left;
		width: 100%;
	}

	pre {
	    background: #313131;
	    padding: 20px;
	    @include border_radius (10px);
	    color: orange;
	    @include large;
	    margin-bottom: 20px;
	    font-weight: bolder;
	    span {
	    	color: white;
	    }
	}

	.button_styleguide {
		div {
			padding-bottom: 10px;
		}
	}

	.form_styleguide {
		pre {
			width: 590px;
			overflow: auto;
			margin-left: 0px;
		}
		.master_container {
			float: left;
			width: 100%;
		}
		.right_content {
			float: left;
			margin: 0 20px;
			width: 550px;
		}
	}

	.styleguide_header {
		width: 100%;
		position: fixed;
		top: 0px;
		z-index: 1000;
		h1 {
			color: #fff;
			padding: 10px 20px;
	    @include complex_gradient(#b8e1fc, #a9d2f3, #90bae4, #90bcea, #90bff0, #6ba8e5, #a2daf5, #bdf3fd );
			border-bottom: 1px solid $alpha_grey;
	    @include box_shadow(0, 0, 40px, $shadow_color);
			font-family: 'Pacifico', arial, serif;
			font-size: 3em;
		}
	}

	.styleguide_body {
		float: none;
		width: 960px;
		margin: 0 auto;
	  @include clearfix;
		header {
			color: #999;
			border: 1px solid #999;
			border-width: 0 0 1px 0;
			margin: 30px 0 10px 0;
	    @include clearfix;
			float: left;
			width: 100%;
		}
		.h1s {
			h1, h2, h3, h4, h5 {
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
				float: left;
				width: 960px;
			}
		}
		.body_text {
			span {
				color: red;
				display: block;
			}
		}
		.link_text {
			float: left;
			width: 100%;
	    @include column_count(3, 1em);
		}
	}

	.styleguide_footer {
		width: 100%;
		float: left;
		text-align: center;
		padding: 30px 0 30px 0;
		height: 100px;
	}

	.colorcode, .gradient {
		div {
			width: 70%;
			margin-bottom: 2em;
			min-height: 60px;
			p {
				position: relative;
				left: 105%;
				width: 35%;
				font-weight: normal;
			}
		}
		.tabbed_ui {
			p {
				top: 0px;
				padding: 0px;
			}
		}
		+ div {
			p {
				color: red;
			}
		}
		p {
			font-weight: bold;
		}
	}

	.styleguide_form_frame {
		border: 1px dashed $fox_grey;
		float: left;
		width: 335px;
		padding: 16px 16px 0;
	  @include border_radius(6px);
		margin-bottom: 10px;
	}

	.flex_blocks {
		.india_grey {
			border: 1px dashed transparentize($alpha_grey, .7);
			p {
				top: 70px;
			}
		}
	}

	.gradient {
		.alpha_color_gradient {
			p {
				color: $alpha_grey;
			}
		}
	}

	.login_body {
		margin: 0 0 30px 0;
		padding: 0;
	}



 	.styleguide_nav {
		position: fixed;
		z-index: 1000;
		border: 1px solid #ccc;
		left: -157px;
		top: 100px;
		width: 120px;
		padding: 10px 20px 10px 10px;
	  @include border_radius(5px);
	  @include box_shadow(0, 0, 20px, #ccc);
	  @include transition(all, .5s, ease-in-out, 0s);
		background-color: #fff;
		.nav_title {
	    @include transform(rotate(-90deg));
			position: absolute;
			top: 0px;
			left: 35px;
	    @include extra_large;
			padding: 60px 100px 100px 100px;
			letter-spacing: 4px;
		}
		p {
			margin: 0.5em 0 0 0;
			text-align: center;
			width: 100%;
			a {
				color: #fff;
				&:hover {
					text-decoration: none;
	        @include four_stop_linear_gradient (#feccb1, #f17432, #ea5507, #fb955e);
	        @include four_stop_linear_gradient (#9dd53a, #a1d54f, #80c217, #7cbc0a);
				}
				display: inline-block;
				width: 100%;
				margin: -5px;
				padding: 5px;
	      @include border_radius(5px);
			}
	    @include four_stop_linear_gradient (#feccb1, #f17432, #ea5507, #fb955e);
			padding: 5px;
	    @include border_radius(5px);
			display: inline-block;
			color: #fff;
			font-weight: bold;
			width: 100%;
			&:hover {
				text-decoration: none;
			}
			&:first-child {
				margin-top: 0;
			}
		}
 		&:hover {
 			left: 30px;
 			color: rgba(0,0,0,0);
 		}
 	}
	#standard_modal_alt {
		width: 600px !important;
	}

	////// foo form ////////
	.foo_form {
	  @include large_form;
	}

	/////// semantic color blocks ////////
	// this is only to display these colors in full color blocks
	// not intended to be used throughout the application

	.primary_text {
		background-color: $primary_text;
	}

	.href_color {
		background-color: $href_color;
	}

	.instructional_text {
		background-color: $instructional_text;
	}

	.error_text {
		background-color: $error_text;
	}

	.button_text {
		background-color: $button_text;
	}

	.shadow_color {
		background-color: $shadow_color;
	}

	//.secondary_button_hover {
	//	background-color: $secondary_button_hover;
	//}

	.form_field_border {
		background-color: $form_field_border;
	}

	.form_field_focus_border_color {
		background-color: $form_field_focus_border_color;
	}

	.form_field_focus_color {
		background-color: $form_field_focus_color;
	}

	.form_field_text {
		background-color: $form_field_text;
	}

	.form_field_text_fail {
		background-color: $form_field_text_fail;
	}

	.form_field_border_fail {
		background-color: $form_field_border_fail;
	}

	.form_field_fail_bkg {
		background-color: $form_field_fail_bkg;
	}

	.input_disabled_bkg {
		background-color: $input_disabled_bkg;
	}

	.form_field_background_color {
		background-color: $form_field_background_color;
	}

	.input_disabled_border {
		background-color: $input_disabled_border;
	}

	.input_disabled_text {
		background-color: $input_disabled_text;
	}

	.mark_color {
		background-color: $mark_color;
	}

	.selection_color {
		background-color: $selection_color;
	}

	.selection_text_color {
		background-color: $selection_text_color;
	}

	.india_grey, .hotel_color_gradient, .india_color_gradient {
	}
	/////// semantic color blocks ////////


	////// 12 col 960 grid system ///////////
	// used only for the UI display of the 960 grid
	// not intended to be used throughout the application

	.grid_960 {
		background: url(/assets/styleguide/12_col.gif) repeat-y ;
		width: 960px;
	  @include clearfix;
		text-align: center;
		margin: 10px 0;
		float: left;
	  @include large;
		font-weight: bold;
		ul {
	    @include clearfix;
			margin: 1em 0;
			li {
				background: fadeout($india_grey, 50%);
	      @include box_shadow(0, 0, 10px, $alpha_grey);
				padding: 5px 0;
			}
		}
	}
	///////// 12 col 960 grid system ///////////
}
//// styleguide UI ////






