<div class="instructions">
  <h1>Search for Food Items</h1>
  <ul>
    <li>Search for a type or brand of food</li>
    <li>Click a specific food in the search results</li>
    <li>View the details of the food (calories, serving size, etc.)</li>
  </ul>
</div>