<div class="live-data-form">
  <div class="search-form-and-results">
    <form class="form-search">
      <input type="text" id="food-search-term" class="input-medium search-query" placeholder="Search for Food">
      <button type="submit" id="food-search-btn" class="btn">Search</button>
    </form>
    <ul id="food-search-results" class="search-results">
      <li style="text-align:center;"><div class="muted">Food Search Results</div></li>
    </ul>
  </div>
  <div id="selected-food-details" class="selected-item-view">
    <h1 class="muted">&larr; Search for a type of food</h1>
  </div>
</div>
{{> common/_live_data_footer }}
