<div class="page-header">
  <h1>{{name}}</h1>
</div>

<dl class="dl-horizontal">
  {{#if brand}}
  <dt>Brand</dt>
  <dd>{{brand}}</dd>
  {{/if}}
  <dt>Calories</dt>
  <dd>{{calories}}</dd>
  <dt>Serving Size</dt>
  <dd>{{defaultServing}}</dd>
</dl>