.small-12.medium-6.columns.powered-by
  %a{:href=>"http://www.fitbit.com"} Powered by Fitbit.com
.small-12.medium-6.columns.copyright{:style => "line-height:32px;"}
  &copy; 2012-#{Date.today.year} Zachery Moneypenny
  <a href="http://twitter.com/whazzmaster"><i class="fa fa-twitter"></i></a>
  <a href="http://github.com/whazzmaster"><i class="fa fa-github"></i></a>
