.row-fluid#main-footer
  .span12
    .well
      .copyright
        &copy; 2012 Zachery Moneypenny (<a href="http://twitter.com/whazzmaster">twitter</a>, <a href="http://github.com/whazzmaster">github</a>, <a href="http://whazzing.com">dev blog</a>)