<section>
	<h4>Get the Gem</h4>
	<p>$ gem install <a href="http://rubygems.org/gems/fitgem">fitgem</a></p>
</section>

<section>
	<h4>Get the Code</h4>
	<p>Go to <a href="https://github.com/whazzmaster/fitgem">github</a> for the source of the gem.</p>
	<p>Hit <a href="https://github.com/whazzmaster/fitgem-client">github</a> for the source of this web site.</p>
</section>

<section>
	<h4>Leave Feedback</h4>
	<p>Is this site missing something critical? <a href="https://github.com/whazzmaster/fitgem-client/issues">Leave an issue</a> on github and I'll try to get a new example up.</p>
	<p>The examples are currently under development, so any issues will be factored into the priority in which I add to the site.  Thanks for checking out this reference!</p>
</section>


<section>
	<h4>The Fitbit API</h4>
	<p>For more information on the Fitbit REST API visit the  <a href="http://dev.fitbit.com">Fitbit developer center</a>.</p>
</section>

