<section>
  <header>
	  <h1>Docs &amp; Resources</h1>
  </header>
	<ul>
	  <li><a href="http://rubygems.org/gems/fitgem">fitgem on rubygems.org</a></li>
	  <li><a href="https://github.com/whazzmaster/fitgem">fitgem on github</a></li>
	  <li><a href="https://github.com/whazzmaster/fitgem-client">fitgem-client on github</a></li>
	  <li><a href="http://dev.fitbit.com">official fitbit API</a></li>
  </ul>
	<p></p>
</section>

<section>
  <header>
	  <h1>Leave Feedback</h1>
  </header>
  <div class="content">
    <p>We appreciate any and all feedback! <a href="https://github.com/whazzmaster/fitgem-client/issues">Leave an issue</a> on github or <a href="mailto:fitgemclient@whazzmaster.com">e-mail with the details</a>.</p>
  	<p>The examples are currently under development, so any issues will be factored into the priority in which we add to the site.  Thanks for checking out this reference!</p>
  </div>
</section>


