<section>
	<h4>Get the Gem</h4>
	<p>$ gem install <a href="http://rubygems.org/gems/fitgem">fitgem</a></p>
</section>

<section>
	<h4>Get the Code</h4>
	<p>Hit <a href="https://github.com/whazzmaster/fitgem-client">github</a> for the source.</p>
</section>

<section>
	<h4>The Fitbit API</h4>
	<p>For more information on the Fitbit REST API visit the  <a href="http://dev.fitbit.com">Fitbit developer center</a>.</p>
</section>

