<div id="sidebar">
	<div class="box">
		<h3>About This Site</h3>
		<p>This is a running version of a test client for the <a href="http://www.fitbit.com">Fitbit service</a>.  It's written in Ruby 1.9 on top of Rails 3, and primarily uses the <a href="http://rubygems.org/gems/fitbit">ruby fitbit gem</a>.</p>
		<p>If you have a Fitbit account, you can walkthrough the server-side steps on how
			to authenticate a user with Fitbit and then get data.  It also currently includes a test interface to experiment with how data subscriptions work since the documentation on the process is a little light on the fitbit site.</p>
	</div>
	
	<div class="box">
		<h3>Get the Code</h3>
		<p>Hit <a href="https://github.com/whazzmaster/fitbit-client">github</a> for the source.</p>
	</div>
	
	<div class="box">
		<h3>The Fitbit API</h3>
		<p>For more information on the Fitbit REST API visit the  <a href="http://dev.fitbit.com">Fitbit developer center</a>.</p>
	</div>
</div>

<div id="content">
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash_#{name}" %>
  <% end %>

  <%= content_tag :h1, yield(:title) if show_title? %>

  <%= yield %>
</div>